.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #FFF;
}

.container div {
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  font-size: 80px;
  font-weight: 600;
}

.error {
  color: #A3A3A3;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 52px;
}

