.wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper label {
  color: #AEAEAE;
  font-size: 16px;
  font-weight: 500;
}

.wrapper span {
  border-radius: 7px;
  border: 1.5px solid #E1E1E1;
  min-width: 250px;
  padding: 10px;
}
